@charset "utf-8";
/* CSS Document */

Body {
    width: 955px;
    height: 100%;
    margin: 0px auto 0px auto;
    font-size: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.txtbox {
    Font-Size: 15px;
}

a:link {
    color: #8f9e1c;
}
/* unvisited link */
a:visited {
    color: #8f9e1c;
}
/* visited link */
a:hover {
    color: #8f9e1c;
    text-decoration: none;
}
/* mouse over link */
a:active {
    color: #8f9e1c;
}
/* selected link */

.TopNav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 5px;
}

.style4 {
    color: #c1d72f;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
    padding: 0px;
}

a.colorlinks:link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

a.colorlinks:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

a.colorlinks:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #c1d82f;
    text-decoration: none;
}

a.colorlinks:active {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}





#banner {
    margin-left: 15px;
    margin-top: 15px;
}

#contentHolder {
    padding: 10px;
    margin: 75px auto;
    margin-left: 20px;
    background-color: #f1f1f2;
    width: 380px;
}

#contentHolderRight {
    padding: 0px;
    margin: 75px auto;
    margin-right: 290px;
    margin-top: -530px;
    width: 270px;
    float: right;
}

#contentHolderBot {
    padding: 0px;
    margin: 30px auto;
    margin-left: 20px;
    margin-right: 400px;
    margin-top: -30px;
    background-color: #f1f1f2;
    width: 700px;
}

#greenbox {
    position: absolute;
    left: 894px;
    top: 620px;
    width: 210px;
    height: 295px;
    background-color: #c8df8e;
}

#whitebox {
    position: absolute;
    left: 894px;
    top: 620px;
    width: 210px;
    height: 295px;
    background-color: #FFFFFF;
}

#greenbox2 {
    position: absolute;
    left: 894px;
    top: 960px;
    width: 210px;
    height: 295px;
    background-color: #c8df8e;
}

#greenbox3 {
    position: absolute;
    left: 894px;
    top: 1290px;
    width: 210px;
    height: 115px;
    background-color: #c8df8e;
}

.whorpfaf {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 14px;
    font-weight: bold;
    margin-left: -5px;
}

.whorpfaf1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 19px;
    font-weight: bold;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 6px;
    padding-left: 15px;
}

.content1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 6px;
    padding-left: 0px;
}

.content2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    padding-left: 15px;
}

a.greencontent:link, a.greencontent:visited, a.greencontent:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    color: #8f9e1c;
    font-weight: bold;
}

a.greencontent:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    color: #000;
    font-weight: bold;
}

.greencontent_add_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    color: #8f9e1c;
    font-weight: bold;
}

a.LeftNav:link, a.LeftNav:visited, a.LeftNav:active {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #8f9e1c;
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 4px;
}

a.LeftNav:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 4px;
}

.LeftActivelink {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #231f20;
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 4px;
}





#navcontainer ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #818385;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

    #navcontainer ul li {
        display: inline;
        padding-left: 0;
        margin-left: 0;
    }

        #navcontainer ul li a {
            padding: 0.4em 1em;
            background-color: #818385;
            color: White;
            text-decoration: none;
            float: left;
            border-right: 1px solid #c1d82f;
            font: bold 14px Arial, Helvetica, sans-serif;
            color: #FFF;
        }

            #navcontainer ul li a:hover {
                background-color: #818385;
                color: #c1d82f;
            }



.greenbox {
    width: 209px;
    margin: 0px auto;
    background-color: #c8df8e;
    border: 1px solid #b2bf97;
}

    .greenbox h1 {
        display: block;
        padding: 10px;
        width: 189px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        background-color: #fff;
        text-align: left;
    }

    .greenbox h3 {
        display: block;
        margin: 5px auto;
        width: 180px;
        font: bold 14px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

    .greenbox p {
        display: block;
        margin: 5px auto;
        width: 180px;
        font: normal 11px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

.greenbox1 {
    width: 209px;
    margin: 0px auto;
    background-color: #c8df8e;
    border: 1px solid #b2bf97;
}

    .greenbox1 h1 {
        display: block;
        padding: 10px;
        width: 189px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        background-color: #fff;
        text-align: left;
    }

    .greenbox1 h3 {
        display: block;
        margin: 5px auto;
        width: 180px;
        font: bold 14px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

    .greenbox1 p {
        display: block;
        margin: 0px auto;
        width: 180px;
        font: normal 12px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

.pfaf-box {
    margin: 5px auto;
    background-color: #f1f1f2;
    border: 1px dashed #c7c8c9;
    float: left;
    width: 410px;
    height: 418px;
}

    .pfaf-box h1 {
        display: block;
        padding: 10px;
        width: 390px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        text-align: left;
        background-color: #fff;
    }

    .pfaf-box p {
        display: block;
        margin: 5px auto;
        width: 390px;
        font: normal 12px Arial, Helvetica, sans-serif;
        color: #231f20;
    }




.whatishere-box {
    margin: 5px auto;
    border: 1px solid #c7c8c9;
    width: 250px;
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #231f20;
}

    .whatishere-box h1 {
        display: block;
        padding: 10px;
        width: 230px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        text-align: left;
        background-color: #fff;
    }

.general-disclaimer {
    border: 1px solid #c7c8c9;
    width: 690px;
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #231f20;
    background-color: #f1f1f2;
}

    .general-disclaimer h1 {
        display: block;
        padding: 10px;
        width: 670px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        text-align: left;
        background-color: #fff;
    }

    .general-disclaimer p {
        display: block;
        margin: 5px auto;
        width: 670px;
        font: normal 12px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

.bord {
    border: 1px solid #e7e7e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

    .bord td {
        border: 1px solid #e7e7e6;
    }

.linking:link, .linking:visited, .linking:active {
    text-decoration: underline;
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #693;
}

.linking:hover {
    text-decoration: underline;
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #F90;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #8f9e1c;
}

    .contact:hover {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-decoration: underline;
    }

.biggreencontent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    color: #8f9e1c;
    font-weight: bold;
}

.plantwhorpfaf {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 14px;
    font-weight: bold;
    margin-left: -5px;
}

.newwhorpfaf {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
    margin-left: -5px;
}

.homepfaf-box {
    margin: 5px auto;
    background-color: #f1f1f2;
    border: 1px solid #c7c8c9;
    float: left;
    width: 410px;
    /*height:418px;*/
}

    .homepfaf-box h1 {
        display: block;
        padding: 10px;
        width: 390px;
        margin: 0px auto;
        font: bold 17px Arial, Helvetica, sans-serif;
        color: #8f9e1c;
        text-align: left;
        background-color: #fff;
    }

    .homepfaf-box p {
        display: block;
        margin: 5px auto;
        width: 390px;
        font: normal 12px Arial, Helvetica, sans-serif;
        color: #231f20;
    }

.dotted-head {
    border-bottom: #cccecf dashed 1px;
    border-top: #cccecf dashed 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
    margin-left: -5px;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    padding: 6px;
    padding-left: 15px;
    color: #818385;
}

.content_grey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: #818385;
}

.content_grey_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: #818385;
    width: 200px;
    word-wrap: break-word;
}

.span_class {
    display: block;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
}

/*
#content_grey_text  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration:none;
    color:#818385;
    width:150px;
    display:block;
   
	
}*/
/* Additional stylesheets */
.style6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #414334;
    font-size: 14px;
    font-weight: bold;
    margin-left: -35px;
}

.style61 {
    font-family: Arial, Helvetica, sans-serif;
    color: #414334;
    font-size: 14px;
    font-weight: bold;
    margin-left: -48px;
}

.style7 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.style8 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #414334;
    font-weight: bold;
    margin-left: -28px;
}

.green-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 12px;
    text-decoration: underline;
    color: #000000;
    padding: 5px;
}

.reser {
    font-family: Arial, Helvetica, sans-serif;
    color: #e40d62;
    font-size: 15px;
    font-weight: bold;
    margin-left: -5px;
}

.database {
    font-family: Arial, Helvetica, sans-serif;
    color: #fbb03f;
    font-size: 15px;
    font-weight: bold;
    margin-left: -5px;
}

.plantuse {
    font-family: Arial, Helvetica, sans-serif;
    color: #b195c6;
    font-size: 15px;
    font-weight: bold;
    margin-left: -5px;
}
/* End */
/* News classes */

.bord_text_large {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.bord_text_small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.whorpfaf-smalltext {
    font-family: Arial, Helvetica, sans-serif;
    color: #8f9e1c;
    font-size: 15px;
    font-weight: bold;
}

.input-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #333333;
    height: 20px;
    width: 200px;
    border: 1px #cccecf solid;
}

a.green_link:link, a.green_link:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #8f9e1c;
    text-decoration: underline;
}

a.green_link:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
}

a.grey_link:link, a.grey_link:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    text-decoration: underline;
}

a.grey_link:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #8f9e1c;
    text-decoration: none;
}

.boldblack-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
    border-bottom: #cccecf solid 1px;
    border-right: #cccecf solid 1px;
}

.boldblack-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
    border-bottom: #cccecf solid 1px;
}

.black-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #bbbbbb;
    color: #000000;
    padding-left: 5px;
}

.black-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    background-color: #dedddd;
    color: #000000;
    padding-left: 5px;
}

#headerBar {
    background-color: #f1f1f2;
    height: 85px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

#headerBarText {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
}


#dbSearch {
    border-collapse: collapse;
    /*font-size:15pt;*/
}

    #dbSearch > tbody > tr > td {
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

        #dbSearch > tbody > tr > td.left {
            background: #9FB020;
            color: #FFFFFF;
            width: 25%;
            vertical-align: middle;
            cursor: pointer;
        }

        #dbSearch > tbody > tr > td.right {
            background: #f1f1f2;
            width: 75%;
            flex-align: end;
            border-top: 1px;
            border-top: #cccecf solid 1px;
            border-bottom: #cccecf solid 1px;
            border-right: #cccecf solid 1px;
        }

    #dbSearch div.help {
        cursor: pointer;
        float: left;
        padding-right: 20px;
    }

    #dbSearch div.nothelp {
        float: left;
    }

    #dbSearch div.arrow {
        background: transparent url(../images/icons/arrows.png) no-repeat scroll 0px -16px;
        /*background: transparent url(plus-minus16.png) no-repeat scroll 0px -16px;*/
        width: 16px;
        height: 16px;
        display: block;
        cursor: pointer;
        float: right;
    }

    #dbSearch > tbody > tr > td > div > div.up {
        background-position: 0px 0px;
    }

.roundcornerbutton {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right:10px;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    
    margin-right:2px;
    margin-left:2px;
    text-align:center;
    
}
.greenButton {
    border: 2px solid #9FB020;
    background: #9FB020;
    color: #FFFFFF;
    font-size: medium;
    cursor: pointer;
    outline: 0;
}

.grayButton {
    border: 2px solid #818385;
    background: #818385;
    color: #FFFFFF;
    font-size: medium;
    cursor: pointer;
    outline: 0;
}
.greenBorderButton {
    border: 2px solid #9FB020;
    background:#FFFFFF;
    font-size: medium;
    cursor: pointer;
    outline: 0;
}

.GeneralDisclaimer {
    background: #f1f1f2;
    border: #cccecf 1px solid;
    padding: 15px;
    margin: 20px;
}

#divfooter {
    background: #a9b923;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
    text-decoration: none;
    margin-top: 50px;
    padding-left: 20px;
}

    #divfooter > div > a {
        text-decoration: none;
        margin-bottom: 2px;
    }
        /* unvisited link */
        #divfooter > div > a:link {
            color: white;
        }

        /* visited link */
        #divfooter > div > a:visited {
            color: green;
        }

        /* mouse over link */
        #divfooter > div > a:hover {
            color: #428bca;
        }

        /* selected link */
        #divfooter > div > a:active {
            color: yellow;
        }

#header {
    font-family: Arial, Helvetica, sans-serif;
}

#divheader {
    background: #9FB020;
    color: white;
    overflow: auto;
    width: 100%;
    text-decoration: none;
    line-height: 25px;
}
/* Begin Navigation Bar Styling */
#nav {
    float: right;
    margin-right: 15px;
    padding: 0;
    list-style: none;
    background-color: #9FB020;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

    #nav li {
        float: left;
        margin: 2px;
    }

        #nav li img {
            vertical-align: middle;
        }

        #nav li a {
            display: block;
            padding: 5px 5px;
            text-decoration: none;
            font-weight: bold;
            color: #FFFFFF;
        }

        #nav li:hover {
            color: #c00;
            background-color: #F7A91C;
        }

        #nav li:last-child:hover {
            color: #c00;
            background-color: #F7A91C;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        #nav li:first-child:hover {
            color: #c00;
            background-color: #F7A91C;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

/* End navigation bar styling. */
#divmenu {
    background: #9FB020;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
}



.btnOpen {
    background: #9FB020 url(../images/icons/arrows.png) no-repeat scroll 0px -16px;
    padding: 5px 5px 5px 5px;
    background-position-y: 10px;
    background-position-x: 122px;
    width: 150px;
    height: 40px;
}

.btnClose {
    background: #9FB020 url(../images/icons/arrows.png) no-repeat scroll 0px 0px;
    padding: 5px 5px 5px 5px;
    background-position-y: 10px;
    background-position-x: 122px;
    width: 150px;
    height: 40px;
}
/*End*/
